<ion-header>
  <ion-toolbar>
    <ion-title>updateBird</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateUserFg" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Power</ion-label>
        <ion-input formControlPower="power" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Genre</ion-label>
        <ion-input formControlGenre="genre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Size</ion-label>
        <ion-input formControlSize="size" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Scope</ion-label>
        <ion-input formControlScope="scope" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input formControlColor="color" type="text" required></ion-input>
      </ion-item>
    </form>
  </ion-list>

</ion-content>
